export AIRFLOW_HOME="/opt/airflow"
export AIRFLOW_IMAGE_NAME="apache/airflow:2.5.2-python3.10-ppml-rr"
export AIRFLOW_UID=50000

export AIRFLOW_PROJ_DIR_DAGS="$(pwd)/airflow/dags"
export AIRFLOW_PROJ_DIR_RESOURCES="$(pwd)/resources/"
export AIRFLOW_PROJ_DIR_DATA="$(pwd)/datasets/"

export AIRFLOW_PROJ_DIR_LOGS="$(pwd)/airflow/logs"
export AIRFLOW_PROJ_DIR_PLUGINS="$(pwd)/airflow/plugins"
export AIRFLOW_PROJ_DIR_SOURCES="$(pwd)/airflow/sources"
export AIRFLOW_PROJ_DIR_SRC="$(pwd)/src/"

export PDF_DATADIR="datasets/articles/pdf/"
export TXT_DATADIR="datasets/articles/txt/"

# To generate a corpus from scratch
export TEXT_CORPUS_DATADIR="datasets/articles/text_corpus/"
export TEXT_CORPUS_FNAME="corpus.txt"

# To load a prebuilt corpus
# export TEXT_CORPUS_DATADIR="resources/corpus/"
# export TEXT_CORPUS_FNAME="article-from-2021-08-01-to-2022-08-31-first-10-corpus.txt.bz2"

export DOMAIN_KEYWORDS="resources/keywords/keywords.txt"
export DOMAIN_KEYWORDS_ONLY_BIGRAM="resources/keywords/keywords-bigram.txt"
export ARXIV_QUERY='date_range:from 2021-08-01 to 2022-08-31;abs:"causal inference" OR "causal network" OR "counterfactual" OR "causal reasoning"'

# a prebuilt list of articles
export ARXIV_ARTICLE_LIST="resources/articles_list/article-from-2021-08-01-to-2022-08-31.txt"
export ARXIV_ARTICLE_LIST_SMALL10="resources/articles_list/article-from-2021-08-01-to-2022-08-31-first-10.txt"
export ARXIV_ARTICLE_LIST_BIG="resources/articles_list/article-from-2021-08-01-to-2022-08-31.txt"

# to check the parallelism of parfive
export PARFIVE_DELAY=5
export PARFIVE_BACKOFF=2

# these env-vars are overwritten within the airflow docker instance
export MLFLOW_TRACKING_URI="http://localhost:8081"
export MLFLOW_S3_ENDPOINT_URL="http://localhost:9000"

export AWS_ACCESS_KEY_ID="minio"
export AWS_SECRET_ACCESS_KEY="minio1234"
export MYSQL_DATABASE="mlflow_database"
export MYSQL_USER="mlflow_user"
export MYSQL_PASSWORD="mlflow"
export MYSQL_ROOT_PASSWORD="mysql"

# uncomment this to serve in development mode using BentoML
# this is ovverriden in the airflow main.py dag file
export BENTO_BASENAME="ppml_rr"
export BENTO_MODEL="ppml_rr:latest"

# docker network
export PPML_RR_NETWORK="ppml_rr-network"
